.cursorrule
.DS_Store
*.pyc
/datasets/*
/tests/pipeline_sfer_output/
/tests/sfer_pipeline_results/
/output
/output_2
/docs/superpowers/
GenerateDatasetsXml.xml
!/datasets/GenerateDatasetsXml.xml
/example_source_file
rewrite_erddap_dataset_titles.py
scripts/
GenerateDatasetsXml.xml
/cnv_data
